body{
overflow-x: hidden !important;
}
.navbar {
  font-family: "Poppins", sans-serif !important;
  font-style: normal !important;
  background-color: #ffffff !important;
  
}
.brand-name{
  font-size: 20PX;
  font-weight: 600;
}
.findaridebtn {
  background-color: #24c6fe !important;
  border: none !important;
  border-radius: 0 !important;
  font-size: 15px !important;
}
.loginbtn {
  font-size: 15px !important;
  border: none !important;
}
.nav-link {
  margin-left: 5px;
  font-size: 15px !important;
}

.logo-img {
  width: 40px;
  height: auto;
}
.loginhomebtn{
  background-color: transparent;
  border: none !important;
  outline: none !important;
}
.profileiconpara{
  display: flex;
  justify-content: flex-start;
}
.profileicon{
  color: #24c6fe !important;
border-radius: 10px;
  border: none !important;
  outline: none !important;
}

#communityid{
position: relative;
left: 0px;
}

@media (max-width: 1439px) {
.nav-link {
  margin-left: 5px;
  font-size: 8px !important;
}
.findaridebtn {
  background-color: #24c6fe !important;
  border: none !important;
  border-radius: 0 !important;
  font-size: 9px !important;
}
.loginbtn {
  font-size: 9px !important;
  border: none !important;
}
}
@media (max-width: 991px) {
  .mobile-menu {
    background-color: #f7f7f7;
    padding: 1rem;
    border-radius: 8px;
  }


  .mobile-menu .nav-link {
    padding: 0.5rem 1rem;
    margin: 5px 0;
    font-weight: 600;
  }

  .custom-toggler {
    border: none;
    box-shadow: none;
  }

  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' fill='%23000' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.7)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }

}

.custom-dropdown-panel {
  position: fixed; /* Make it stick to the screen */
  top: 60px; /* Adjust to match navbar height */
  left: 45%;
  width: 10%;
  background: #fff;
  z-index: 1050;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border-top: 1px solid #eee;
    animation: slideDown 0.2s ease;

}




@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.dropdown-link {
  display: block;
  padding: 10px 10px;
  color: #000000d8;
  text-decoration: none;
  font-size: 14px;
  border-bottom: 1px solid #24c6fe;
}

.custom-dropdown-panel ul{
  padding: 10px;
  padding: 0 !important;

}

.dropdown-link:hover {
  background-color: #f0f0f0;
  color: #000;
}
