.postnewridecontainer{
    margin-top: 80px;
    margin-bottom: 80px;
}
.postridehead{
  overflow-y: hidden;
  color: #2727276c;
  font-weight: 600;
}
.hrhead{
  color: #008dc096;
}
.newposthead{
  font-size: 42px;
  font-weight: 600;
  overflow-y: hidden;
  color: rgba(0, 0, 0, 0.705);
}
.newpostheadhighlight{
    font-size: 36px;
    color: #24C6FE;
  font-weight: 500;

}
.newpostsubhead{
  font-size: 14px;
}
.form-section {
      border: none !important;

  max-width: 100%;
  margin: 50px auto;
  padding: 30px 40px;
  background-color: #f0faff !important;
  border-radius: 10px;
  box-shadow: 0 0 8px rgb(255, 255, 255);
  outline: none;

}
.error {
  color: rgb(216, 2, 2);
  font-size: 0.85rem;
  margin-top: 2px;
  display: block;
}

.postride-form {
  display: flex;
  flex-direction: column;
}

.postride-form label {
  margin-top: 15px;
  font-weight: 500;
  color: #000000d5;
}

.postride-form input,
.postride-form select,
.postride-form textarea::placeholder{
  color: #acacacb0 !important;
}
.postridebtn{
    background-color: #24C6FE !important;
    color: white !important;
    width: 300px;
    font-size: 20px !important;
    font-weight: bold !important;
      margin: 60px auto 20px auto; 
  text-align: center;
  display: block; 
    
}

.postride-form input,
.postride-form select,
.postride-form textarea {
  margin-top: 6px;
  padding: 10px 12px;
  border: 1px solid #e4e2e2bd;
  border-radius: 15px;
  font-size: 16px;
  background-color: transparent;
}
.postride-form input:focus{
    outline: none;
}
.postride-form textarea {
  resize: vertical;
  min-height: 80px;
}

.form-section-header {
  background: #0097d6;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
  margin: 30px auto 20px 0; 
  text-align: center;
  display: block; 
}
.suggestions-list {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 1px solid #ddd;
  max-height: 150px;
  overflow-y: auto;
  background: #fff;
  position: absolute;
  width: 100%;
  z-index: 1000;
}

.suggestions-list li {
  padding: 8px 12px;
  cursor: pointer;
}

.suggestions-list li:hover {
  background-color: #f0f0f0;
}
@keyframes slideInDown {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0); 
  }
}

.slide-down {
  animation: slideInDown 0.8s ease-out forwards;
}


